{% extends 'lay/layout.html' %}

{% block content %}
    <div class="container" style="margin-top: 30px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">添加音乐</h3>
            </div>
            <div class="panel-body">

                <form method="post" enctype="multipart/form-data" action="/music/add/?nid={{ nid }}">
                    {% csrf_token %}
                    <label for="file">选择文件：</label>
                    <input type="file" name="file" id="file">
                    <br>
                    <label for="name">文件名称：</label>
                    <input type="text" name="name" id="name">
                    <br>
                    <div>
                        <label for="name">文件类型：</label>
                        <input type="radio" name="types" value="0" title="mp3" checked> mp3
                        <input type="radio" name="types" value="1" title="txt" > txt
                    </div>

                    <br>
                    <div>
                        <label for="name">音乐来源：</label>
                        <input type="radio" name="mold" value="1" title="net_music" checked> net
                        <input type="radio" name="mold" value="2" title="it_music"> it
                        <input type="radio" name="mold" value="3" title="txt_music"> txt
                    </div>

                    <br>
                    <label for="description">文件描述：</label>
                    <textarea name="description" id="description"></textarea>
                    <br>
                    <input type="submit" value="上传">
                    <a class="btn btn-success" href="/music/list/?nid={{ nid }}">返 回</a>
                    <span style="color: red">{{ error_msg }}</span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}