{% extends 'lay/layout.html' %}

{% block content %}
    <div class="container">
        <h3 align="center">音乐列表</h3>
        <table class="table" style="table-layout: fixed;">
            <div>
                <div style="float: left; margin-bottom: 20px; margin-top: 20px">
                    <ul class='myul'>
                        <li><a onclick="getValues()" href="" class="btn btn-danger input-sm">批量删除</a></li>
                        <li style="margin-top: 20px">
                            <a class="btn btn-primary" href="/music/add/?nid={{ user.id }}" target="_blank">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                新增音乐
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="float: right">
                    <form  method="get" action="/music/{{ user.id }}/search/" >
                        <input type="text" name="queryname" placeholder="name"/>
                        <input type="text" name="querydesc" placeholder="description"/>
                        <select name="querytypes" autocomplete="off"  >
                            <option value="0">mp3</option>
                            <option value="1">txt</option>
                        </select>
                        <select name="querymolds" autocomplete="off"  >
                            <option value="1">net</option>
                            <option value="2">it</option>
                            <option value="3">txt</option>
                        </select>
                        <input type="submit" value="查询" name="submit" class="btn btn-primary input-sm"/>
                    </form>
                    <a class="btn btn-primary" style="margin-bottom: 20px" href="/music/list/?nid={{ user.id }}">重 置</a>
                </div>
            </div>
        </table>

        <div>
            <div class="panel panel-default">
                <div class="panel-heading">音乐列表</div>
                <div class="panel-body">
                    <div class="bs-example" data-example-id="striped-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="25"><input type="checkbox" id="checkAll"  onclick="checkAll()"></th>
                                <th>id</th>
                                <th>name</th>
                                <th>size</th>
                                <th>desc</th>
                                <th>type</th>
                                <th>mold</th>
                                {% if user.role == 0%}
                                    <th>MD5</th>
                                    <th>is_delete</th>
                                    <th>update_time</th>
                                    <th>music_pid</th>
                                    <th>user_uid</th>
                                {% endif %}
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for music in music_list %}
                                <tr>
                                    <td><input type="checkbox" onclick="checkOne()" value="{{item.id}}" name="item"></td>
                                    <td>{{ music.id }}</td>
                                    <td>{{ music.name }}</td>
                                    <td>{{ music.size }} kb</td>
                                    <td>{{ music.description }}</td>
                                    <td>
                                        {% if music.types%}
                                            文本格式文件
                                        {% else %}
                                            mp3格式文件
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if music.mold == 1%}
                                            网络音乐
                                        {% elif music.mold == 2 %}
                                            算法衍生音乐
                                        {% else %}
                                            文本衍生音乐
                                        {% endif %}
                                    </td>
                                    {% if user.role == 0%}
                                        <td>{{ music.MD5 }}</td>
                                        {#                                    <td>{{ music.is_delete }}</td>#}
                                        <td>
                                            {% if music.is_delete%}
                                                已被删除
                                            {% else %}
                                                未被删除
                                            {% endif %}
                                        </td>
                                        <td>{{ music.update_time }}</td>
                                        <td>{{ music.pid }}</td>
                                        <td>{{ music.uid }}</td>
                                    {% endif %}
                                    <td>
                                        <a class="btn btn-primary btn-xs" href="/music/{{ music.id }}/edit?uid={{ user.id }}">编辑</a>
                                        <a class="btn btn-danger btn-xs" href="/music/delete/?nid={{ music.id }}&uid={{ user.id }}">删除</a>
                                        {% if user.role%}
                                            <a class="btn btn-primary btn-xs" href="/music/down/?nid={{ music.id }}&uid={{ user.id }}">下载</a>
                                            <a class="btn btn-primary btn-xs" href="/music/change/?nid={{ music.id }}&uid={{ user.id }}">算法生成new</a>
                                            <a class="btn btn-primary btn-xs" href="/music/theList/?nid={{ music.id }}&uid={{ user.id }}">与该音乐相关</a>
{#                                            <audio controls id="audio-player">#}
{#                                                Your browser does not support the audio element.#}
{#                                            </audio>#}
{##}
{#                                            <!-- 设置一个隐藏的输入字段，用于从 HTML 端传入可变的 URL -->#}
{#                                            <input type="hidden" id="music-url" value="{{ music.url }}">#}
{##}
{#                                            <button onclick="playLocalMusic()">播放</button>#}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}