{% extends 'lay/layout.html' %}

{% block content %}
    <div class="container">
        <h3 align="center">用户列表</h3>
        <table class="table" style="table-layout: fixed;">
            <div>
                <div style="float: left; margin-bottom: 20px; margin-top: 20px">
                    <ul class='myul'>
                        <li><a onclick="getValues()" href="" class="btn btn-danger input-sm">批量删除</a></li>
                        <li style="margin-top: 20px">
                            <a class="btn btn-primary" href="/user/add/?nid={{ user.id }}" target="_blank">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                新增用户
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="float: right">
                    <form  method="get" action="/user/{{ user.id }}/search/" >
                        <input type="text" name="queryname" placeholder="username"/>
                        <input type="text" name="queryemail" placeholder="email"/>
                        <input type="text" name="querydesc" placeholder="description"/>
                        <input type="submit" value="查询" name="submit" class="btn btn-primary input-sm"/>
                    </form>
                    <a class="btn btn-primary" style="margin-bottom: 20px" href="/user/list/?nid={{ user.id }}">重 置</a>
                </div>
            </div>
        </table>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">用户列表</div>
                <div class="panel-body">
                    <div class="bs-example" data-example-id="striped-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="25"><input type="checkbox" id="checkAll"  onclick="checkAll()"></th>
                                <th>id</th>
                                <th>username</th>
                                <th>password</th>
                                <th>email</th>
                                <th>description</th>
                                <th>create_time</th>
                                <th>role</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for users in user_list %}
                                <tr>
                                    <td><input type="checkbox" onclick="checkOne()" value="{{item.id}}" name="item"></td>
                                    <td>{{ users.id }}</td>
                                    <td>{{ users.username }}</td>
                                    <td>{{ users.password }}</td>
                                    <td>{{ users.email }}</td>
                                    <td>{{ users.description }}</td>
                                    <td>{{ users.create_time }}</td>
                                    <td>
                                        {% if users.role%}
                                            user
                                        {% else %}
                                            admin
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" href="/user/{{ users.id }}/edit/?uid={{ user.id }}">编辑</a>
                                        <a class="btn btn-danger btn-xs" href="/user/delete/?nid={{ users.id }}&uid={{ user.id }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
